#main {
    height: 100%;
    width: 600px;
}

#side {
    height: 100%;
    width: 300px;
}

@media (max-width: 768px) { 
    #side {
        height: 100%;
        width: 600px;
    }

    #total {
        padding-top: 1em;
    }
}